@import "tailwindcss";

@font-face {
  font-family: Satoshi;
  src: url("/Satoshi-Variable.ttf");
}
@font-face {
  font-family: Unbounded;
  src: url("/Unbounded-VariableFont_wght.ttf");
}

@theme {
  --color-base: #36B460;
  --color-dark: #070707;
  --color-light: #F1F1F1;
  --color-card: #0E0E0E;
  --color-success: #49A349;
}

*{
  font-family: "Satoshi", sans-serif;
  letter-spacing: -0.6px;
}

h1 {
  font-family: "Unbounded", sans-serif;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.login {
  background: url('/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.loader-light {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100%;
  background: radial-gradient(farthest-side, #ffffff 80%, #0000) top/4px 4px
      no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  animation: l13 0.6s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
.loader-base {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 100%;
  background: radial-gradient(farthest-side, #111111 80%, #0000) top/4px 4px
      no-repeat,
    conic-gradient(#0000 30%, #111111);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}